# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [95]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [96]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [10]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [42]:
# Your code here:
legen_poke=pokemon[pokemon['Legendary']==True]
non_legen_poke=pokemon[pokemon['Legendary']==False]
print(legen_poke['Legendary'].value_counts())
print(non_legen_poke['Legendary'].value_counts())

True    65
Name: Legendary, dtype: int64
False    735
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [33]:
# Your code here:
mean_leg=legen_poke['Total'].dropna().mean()
std_leg=legen_poke['Total'].dropna().std()
mean_non_leg=non_legen_poke['Total'].dropna().mean()
std_non_leg=non_legen_poke['Total'].dropna().std()
print(f'The mean of the legendary Pokemons is {mean_leg} and his standard deviation is {std_leg}.')
print(f'The mean of the non legendary Pokemons is {mean_non_leg}and his standard deviation is {std_non_leg}.')

The mean of the legendary Pokemons is 637.3846153846154 and his standard deviation is 60.93738905315344.
The mean of the non legendary Pokemons is 417.21360544217686and his standard deviation is 106.76041745713005.

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [44]:
# Your code here:
ttest_ind(legen_poke['Total'],non_legen_poke['Total'],equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:
Pvalue is almost 0, this means that the means are really different. Even if I have a 99% confidence interval the conclusion is the same. I would reject the hypothesis null that both means could be similar.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [52]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [60]:
# Your code here:
water=pokemon[pokemon['Type 1']=='Water']
others=pokemon[pokemon['Type 1']!='Water']
print("Water pokemons mean:",water['Total'].mean())
print("Other pokemons mean:",others['Total'].mean())

Water pokemons mean: 430.45535714285717
Other pokemons mean: 435.85901162790697

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [61]:
# Your code here:
ttest_ind(water['Total'],others['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

# Your conclusions here:
Pvalue is a higher value, this means that the means are not different. Even if I have a 95% confidence interval the conclusion is the same. I would not reject the hypothesis null that both means could be similar.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [63]:
# Your code here:
ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:
Pvalue is almost 0, this means that the means are really different. Even if I have a 99% confidence interval the conclusion is the same. I would reject the hypothesis null that both means could be similar.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [64]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:
Pvalue is a higher value, this means that the means are not different. If I have a 95% or a 90% or a 99% confidence interval I would not reject the null hypothesis that both means are equal.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [79]:
# Your code here:
pokemon['Difference']=pokemon['Attack']-pokemon['Defense']
print(ttest_1samp(pokemon['Difference'],0))
print(ttest_rel(pokemon['Attack'],pokemon['Defense']))

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)
Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [98]:
# Your code here:
pokemon['Water']=pokemon['Type 1']=='Water'
leg_wat=pd.crosstab(pokemon['Legendary'],pokemon['Water'])
leg_wat

Water      False  True
Legendary
False        627    108
True          61      4

In [ ]:
hourly_salary=pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [105]:
# Your code here:
chi2_stat=chi2_contingency(leg_wat)[0]
p_value=chi2_contingency(leg_wat)[1]
doff=chi2_contingency(leg_wat)[2]
expected_freq=chi2_contingency(leg_wat)[3]
chi2_contingency(leg_wat)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [107]:
# Your answer here:
alpha=0.05
if p_value < alpha:
    print("Null hypothesis may be rejected.")
else:
    print("Null hypothesis may not be rejected. ")

Null hypothesis may not be rejected.