# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [29]:
# Import your libraries:
from sklearn.datasets import load_diabetes
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [31]:
# Your code here:
diabetes = load_diabetes()

In [ ]:
X,y = load_diabetes(return_X_y=True)
cols = load_diabetes()["feature_names"]
desc = load_diabetes()["DESCR"]

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [32]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [33]:
# Your code here:val
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, T-Cells (a type of white blood cells)
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, thyroid stimulating hormone
      - s5      ltg, lamotrigine
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

In [34]:
print(diabetes.feature_names)

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [45]:
y= diabetes.target
X= diabetes.data

In [49]:
df = pd.DataFrame(X, columns=cols)
df["target"]=y

In [50]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [53]:
df.shape

(442, 11)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [55]:
# Your code here:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

Initialize the model in the variable `diabetes_model`

In [56]:
# Your code here:
y = df["target"]
X = df.drop(columns="target")
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25)

In [57]:
X_train.shape, X_test.shape

((331, 10), (111, 10))

In [58]:
lr = LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [59]:
# Your code here:
lr.fit(X_train, y_train)

LinearRegression()

In [60]:
lr.intercept_

149.57753120140748

In [61]:
lr.coef_

array([   3.3916894 , -203.78791018,  544.95763531,  321.51753634,
       -492.814371  ,  298.61946295,    3.47196338,  124.36858913,
        656.03719093,   30.76985997])

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [183]:
import statsmodels.api as smf

In [184]:
# Your code here:
mod = smf.OLS(y_train,X_train)
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    mpg   R-squared (uncentered):                   0.981
Model:                            OLS   Adj. R-squared (uncentered):              0.981
Method:                 Least Squares   F-statistic:                              2628.
Date:                Tue, 01 Dec 2020   Prob (F-statistic):                   1.61e-260
Time:                        19:44:23   Log-Likelihood:                         -832.77
No. Observations:                 313   AIC:                                      1678.
Df Residuals:                     307   BIC:                                      1700.
Df Model:                           6
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
cylinders       -0.4443      0.391     -1.137      0.256      -1.213       0.324
displacement     0.0106      0.009      1.206      0.229      -0.007       0.028
horse_power     -0.0275      0.014     -1.926      0.055      -0.056       0.001
weight          -0.0064      0.001     -8.034      0.000      -0.008      -0.005
acceleration    -0.1219      0.106     -1.147      0.252      -0.331       0.087
model_year       0.6275      0.027     23.335      0.000       0.575       0.680
==============================================================================
Omnibus:                       33.869   Durbin-Watson:                   1.936
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.015
Skew:                           0.636   Prob(JB):                     1.53e-13
Kurtosis:                       4.704   Cond. No.                     6.13e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.13e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [62]:
# Your code here:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [63]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [64]:
# Your code here:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [69]:
# Your code here:
auto["model_year"].min(),auto["model_year"].max()

(70, 82)

Check the dataset for missing values and remove all rows containing at least one missing value.

In [102]:
# Your code here:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [133]:
nulos=auto.dropna()

In [134]:
nulos.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [144]:
# Your code here:
nulos["cylinders"].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [152]:
# Import the necessary function
new_df=nulos.drop(columns="car_name")

In [153]:
y = new_df["mpg"]
X = new_df.drop(columns="mpg")
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20)

In [154]:
X_train.shape, X_test.shape

((313, 6), (79, 6))

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [155]:
# Your code here:
lr = LinearRegression()
lr

LinearRegression()

Next, fit the model in the cell below.

In [157]:
# Your code here:
lr.fit(X_train, y_train)
lr.coef_

array([-0.29919623,  0.0081452 , -0.00768741, -0.00672737,  0.0116488 ,
        0.74660579])

In [158]:
lr.intercept_

-12.47473280485795

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [161]:
y_pred = lr.predict(X_test)

In [162]:
y_pred.shape

(79,)

In [163]:
r2_score(y_test,y_pred)

0.7882506819262549

In [164]:
# Your code here:
rmse = mean_squared_error(y_test, y_pred)**0.5
rmse

3.3104519681948426

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [166]:
# Your code here:

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [176]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, train_size=0.9,test_size=0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [177]:
# Your code here:
auto_model09 = LinearRegression()
auto_model09

LinearRegression()

In [178]:
auto_model09.fit(X_train09, y_train09)
auto_model09.coef_,lr.intercept_

(array([-4.97854550e-01,  1.02682967e-02, -7.43314149e-04, -6.69976121e-03,
         8.92070749e-02,  7.59632611e-01]),
 -12.47473280485795)

Compute the predicted values and r squared score for our new model and new sample data.

In [179]:
# Your code here:
y_pred = auto_model09.predict(X_test09)

0.6998294233709021

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [181]:
# nuestro modelo empeora el R cuadrado
r2_score(y_test09,y_pred)

0.6998294233709021

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [185]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [187]:
# Your code here:
selector = RFE(auto_model09, n_features_to_select=3)

Fit the model and print the ranking

In [190]:
# Your code here:
selector = selector.fit(X, y)
selector.ranking_

array([1, 2, 4, 3, 1, 1])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [202]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [203]:
# Your code here: