# Advanced Querying Mongo

Importing libraries and setting up connection

In [7]:
from pymongo import MongoClient
client = MongoClient()

ModuleNotFoundError: No module named 'pymongo'

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
filter {name: "Babelgum"}
project {name:1}

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
filter {number_of_employees:{$gt:5000}}
sort {number_of_employees:1} 
limit 20

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
filter {founded_year:{$gte:2000,$lte:2005}}
project {name:1,founded_year:1}

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
filter {valuation_amount:{$gt:100000000}},{founded_year:{$lt:2010}}
project {name:1,ipo:1}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
filter {number_of_employees:{$ln:1000}},{founded_year:{$lt:2005}}
sort {number_of_employees:1}
limit 10

### 6. All the companies that don't include the `partners` field.

In [ ]:
proyect -- {partners:0}

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
filter {category_code: null}

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
filter {number_of_employees:{$gte:100,$lt:1000}}
project {name:1,number_of_employees:1}

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
sort {ipo:-1}

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
sort {number_of_employees:-1}
limit 10

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
{"funding_rounds.funded_month":{$gte:6,$lte:12}}
limit 1000

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
filter {founded_year:{$lt: 2000}},{price_amount:{$gt:1000000}}

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
filter {"acquisition.acquired_year":{$gt:2010}}
project {name:1,acquisition:1}
sort {price_amount:1}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
project {name:1,founded_year:1}
sort {founded_year:1}

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
filter {founded_day:{$gte:1,$lte:7}}
{price_amount:-1}
limit 10

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
filter {category_code:"web",number_of_employees:{$gt:4000}}
sort {number_of_employees:1}

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
FILTER {"acquisition.price_amount":{$gt:10000000},"acquisition.price_currency_code":"EUR"}

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
filter {"acquisition.acquired_month":{$gte:1,$lte:6}}
project {name:1,acquisition:1}

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
filter {"funding_rounds.funded_year":{$gte:2000,$lte:2010},"acquisition.acquired_year":{$gt:2011}}

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code