# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [35]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats
#import sys
#!{sys.executable} -m pip install statsmodels
import statsmodels
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import normaltest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [10]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [12]:
# Your code here:

salaries["Department"].value_counts()
#or salaries.groupby(salaries['Department']).agg({'Name':'count'})

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [36]:
# Your code here:

#### Do the hourly wage of all hourly workers differ significantly from $30/hr?

# H0: x is normally distributed

# H : x does not come from a normal distribution

x = salaries["Hourly Rate"].dropna()
x

alpha = 0.05

pvalue = normaltest(x).pvalue


print(f"p-value = {pvalue}")
print(f"alpha = {alpha}")

if pvalue < alpha:
    print("Null hypothesis may be rejected! -----> Very unlikely that it comes from a normal distribution")
else:
    print("Null hypothesis may not be rejected! -----> It can come from a normal distribution")

p-value = 1.5089373758263919e-87
alpha = 0.05
Null hypothesis may be rejected! -----> Very unlikely that it comes from a normal distribution

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [37]:
# Your code here:

Using the `crosstab` function, find the department that has the most hourly workers.

In [51]:
# Your code here:
pd.crosstab([salaries.Department],salaries["Salary or Hourly"], margins = True).sort_values(by = "Hourly",ascending = False)

#or most_hourly_workers = pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values(by='Hourly', ascending=False)
#most_hourly_workers

Salary or Hourly       Hourly  Salary    All
Department
All                      8022   25161  33183
STREETS & SAN            1862     336   2198
WATER MGMNT              1513     366   1879
OEMC                     1273     829   2102
AVIATION                 1082     547   1629
GENERAL SERVICES          765     215    980
TRANSPORTN                725     415   1140
PUBLIC LIBRARY            299     716   1015
FAMILY & SUPPORT          287     328    615
CITY COUNCIL               64     347    411
FINANCE                    44     516    560
LAW                        40     367    407
ANIMAL CONTRL              19      62     81
POLICE                     10   13404  13414
MAYOR'S OFFICE              8      77     85
BUSINESS AFFAIRS            7     164    171
CULTURAL AFFAIRS            7      58     65
HUMAN RESOURCES             4      75     79
COMMUNITY DEVELOPMENT       4     203    207
HEALTH                      3     485    488
FIRE                        2    4639   4641
PROCUREMENT                 2      90     92
BUDGET & MGMT               2      44     46
BOARD OF ETHICS             0       8      8
TREASURER                   0      22     22
POLICE BOARD                0       2      2
BOARD OF ELECTION           0     107    107
BUILDINGS                   0     269    269
LICENSE APPL COMM           0       1      1
INSPECTOR GEN               0      87     87
HUMAN RELATIONS             0      16     16
DoIT                        0      99     99
DISABILITIES                0      28     28
COPA                        0     116    116
CITY CLERK                  0      84     84
ADMIN HEARNG                0      39     39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [29]:
# Your code here:
x = salaries[salaries["Salary or Hourly"] == "Hourly"]["Hourly Rate"]
# t.interval(alpha, df, loc=0, scale=1)

intconf_x = stats.t.interval(0.95, len(x)-1, x.mean(), stats.sem(x))
print(intconf_x)

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [30]:
# Your code here:

y = salaries[(salaries['Department']=='POLICE')&
             (salaries['Salary or Hourly'] == 'Salary')]['Annual Salary']

intconf_y = stats.t.interval(0.95, len(y)-1, y.mean(), stats.sem(y))
print(intconf_y)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [31]:
# Your code here:
x = salaries[salaries['Salary or Hourly'] == 'Hourly']
y = salaries['Salary or Hourly']

# statsmodels.stats.proportion.proportions_ztest(count, nobs, value=None, alternative='two-sided', prop_var=False)

hypo = proportions_ztest(len(x), len(y), value=0.25)
print(hypo)

(-3.5099964213703005, 0.0004481127249057967)