# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [259]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind, ttest_1samp, sem, t
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [84]:
salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [38]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
salaries['Hourly Rate'].count()

8022

In [10]:
salaries['Salary or Hourly'].count()

33183

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [35]:
# Your code here:
salaries.groupby('Department').count()['Name']

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [96]:
salaries[salaries['Hourly Rate'].notna()]['Hourly Rate'].mean()

32.78855771628024

In [177]:
# Your code here:
hourly_rate_t=salaries[salaries['Hourly Rate'].notna()]['Hourly Rate']
p_value=ttest_1samp(hourly_rate_t,30)[1]
alpha=0.05        
if p_value < alpha:
    print("Null hypothesis may be rejected, the hourly wage is significantly different from $30/hr.")
else:
    print("Null hypothesis may not be rejected, the hourly wage is not significantly different from $30/hr.")

Null hypothesis may be rejected, the hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [156]:
salaries[salaries['Department']=='POLICE']['Annual Salary'].dropna().mean()

86486.41450313339

In [230]:
annual_salary_t=salaries[salaries['Department']=='POLICE']['Annual Salary'].dropna()
ttest_1samp(annual_salary_t,100000)

Ttest_1sampResult(statistic=-85.62415341133038, pvalue=0.0)

In [207]:
# Your code here:
annual_salary_t=salaries[salaries['Department']=='POLICE']['Annual Salary'].dropna()
statistic=ttest_1samp(annual_salary_t,86000)[0]
p_value=ttest_1samp(annual_salary_t,86000)[1]
alpha=0.05
if p_value/2 < alpha and statistic>0:
    print("Null hypothesis may be rejected. The salary is greater than the last year.")
else:
    print("Null hypothesis may not be rejected. The salary is equal than the last year.")

Null hypothesis may be rejected. The salary is greater than the last year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [202]:
# Your code here:
hourly_salary=pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])
hourly_salary.sort_values(['Hourly'],ascending=False).head(1)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [203]:
# Your code here:
salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate'].dropna().mean()

33.72837808807734

In [225]:
salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate'].dropna().std()

5.735241841459235

In [232]:
hourly_wage_t=salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate'].dropna()
ttest_1samp(hourly_wage_t,35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [233]:
hourly_wage_t=salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate'].dropna()
statistic=ttest_1samp(annual_salary_t,35)[0]
p_value=ttest_1samp(annual_salary_t,35)[1]
alpha=0.05
if p_value/2 < alpha:
    print("Null hypothesis may be rejected. The salary is greater than last year.")
else:
    print("Null hypothesis may not be rejected. The salary is equal than last year.")

Null hypothesis may be rejected. The salary is greater than last year.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [256]:
# Your code here:
hourly_wage=salaries[salaries['Hourly Rate'].notna()]['Hourly Rate']
deg_free=len(hourly_wage)-1
std_error=sem(hourly_wage, ddof=deg_free)
mean=hourly_wage.mean()
t.interval(.95, deg_free, mean, std_error)

(9.046248541993936, 56.53086689056654)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [257]:
# Your code here:
annual_salary=salaries[salaries['Department']=='POLICE']['Annual Salary'].dropna()
deg_free=len(annual_salary)-1
std_error=sem(annual_salary, ddof=deg_free)
mean=annual_salary.mean()
t.interval(.95, deg_free, mean, std_error)

(50671.60678895816, 122301.22221730862)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [273]:
# Your code here:
hourly=hourly_salary['Hourly'].sum()
n=len(salaries['Salary or Hourly'])
zstat=proportions_ztest(hourly, n, 0.25)[0]
p_value=proportions_ztest(hourly, n, 0.25)[1]
proportions_ztest(hourly, n, 0.25)
alpha=0.05
if p_value < alpha and zstat < 0:
    print("Null hypothesis may be rejected. The hourly salary percentage is greater than 25%.")
else:
    print("Null hypothesis may not be rejected. The salary is equal to 25%.")

Null hypothesis may be rejected. The hourly salary percentage is greater than 25%.