# Advanced Querying Mongo

Importing libraries and setting up connection

In [30]:
#import sys
#!{sys.executable} -m pip install pymongo
from pymongo import MongoClient
client = MongoClient()
db = client.get_database("companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [31]:
# Your Code

filter_query1 = {"name":"Babelgum"}
project_query1 = {"_id":0, "name":1}

query1 = list(db.companies.find(filter_query1,project_query1))
print(query1)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [32]:
# Your Code

filter_query2 = {"number_of_employees": {"$gt":5000}}
project_query2 = {"_id":0, "name":1, "number_of_employees":1}

query2= list(db.companies.find(filter_query2,project_query2).sort("number_of_employees",1).limit(20))
print(query2)

[{'name': 'Nintendo', 'number_of_employees': 5080}, {'name': 'Hexaware Technologies', 'number_of_employees': 5200}, {'name': 'Facebook', 'number_of_employees': 5299}, {'name': 'OpenText', 'number_of_employees': 5300}, {'name': 'CPM Braxis', 'number_of_employees': 5400}, {'name': 'LSI', 'number_of_employees': 5400}, {'name': 'Microchip Technologies', 'number_of_employees': 5500}, {'name': 'Mediaset', 'number_of_employees': 5729}, {'name': 'Mindray Medical International', 'number_of_employees': 5763}, {'name': 'Tata Communications', 'number_of_employees': 6000}, {'name': 'Baidu', 'number_of_employees': 6000}, {'name': 'Dentsu', 'number_of_employees': 6000}, {'name': 'Atmel', 'number_of_employees': 6000}, {'name': 'Acxiom', 'number_of_employees': 6200}, {'name': 'Acxiom', 'number_of_employees': 6200}, {'name': 'SRA International', 'number_of_employees': 6400}, {'name': "Moody's", 'number_of_employees': 6800}, {'name': 'ManTech', 'number_of_employees': 7000}, {'name': 'Adobe Systems', 'number_of_employees': 7173}, {'name': 'Broadcom', 'number_of_employees': 7400}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [33]:
# Your Code

filter_query3 = {"founded_year": {"$gte":2000, "$lte":2005}}
project_query3 = {"_id":0,"name":1, "founded_year":1}

query3= list(db.companies.find(filter_query3,project_query3).limit(10))
print(query3)

[{'name': 'Wetpaint', 'founded_year': 2005}, {'name': 'Zoho', 'founded_year': 2005}, {'name': 'Omnidrive', 'founded_year': 2005}, {'name': 'Digg', 'founded_year': 2004}, {'name': 'Gizmoz', 'founded_year': 2003}, {'name': 'StumbleUpon', 'founded_year': 2002}, {'name': 'Helio', 'founded_year': 2005}, {'name': 'Facebook', 'founded_year': 2004}, {'name': 'Plaxo', 'founded_year': 2002}, {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [71]:
# Your Code

#What was written in mongodb:
#filter = {$and: [ {"ipo.valuation_amount": {$gt: 100000000}}, {founded_year: {$lt: 2010}} ] }
#project = {name: 1, ipo: 1}
    
filter_query4 = {"$and": [ {"ipo.valuation_amount": {"$gt": 100000000}}, {"founded_year": {"$lt": 2010}} ] }
project_query4 = {"name": 1, "ipo": 1}

query4 = list(db.companies.find(filter_query4, project_query4))
#print(query4)

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'), 'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000, 'valuation_currency_code': 'USD', 'pub_year': 2012, 'pub_month': 5, 'pub_day': 18, 'stock_symbol': 'NASDAQ:FB'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [22]:
# Your Code
#What was written in mongodb:
#filter = {$and: [ {number_of_employees: {$lt: 1000} },{founded_year: {$lt: 2005} } ] }
#sort = {number_of_employees: -1}
#limit = 10
    
filter_query5 = {"$and": [ {"number_of_employees": {"$lt": 1000} }, {"founded_year":{"$lt": 2005} } ] }

query5 = list(db.companies.find(filter_query5).sort("number_of_employees", -1).limit(10))
#print(query5)

### 6. All the companies that don't include the `partners` field.

In [38]:
# Your Code
#What was written in mongodb:
#filter = {partners: {$exists: "false"}}

filter_query6 = {"partners": {"$exists": "false"}}

query6 = list(db.companies.find(filter_query6).limit(1))
print(query6)

[{'_id': ObjectId('52cdef7c4bab8bd675297d8b'), 'name': 'AdventNet', 'permalink': 'abc3', 'crunchbase_url': 'http://www.crunchbase.com/company/adventnet', 'homepage_url': 'http://adventnet.com', 'blog_url': '', 'blog_feed_url': '', 'twitter_username': 'manageengine', 'category_code': 'enterprise', 'number_of_employees': 600, 'founded_year': 1996, 'deadpooled_year': 2, 'tag_list': '', 'alias_list': 'Zoho ManageEngine ', 'email_address': 'pr@adventnet.com', 'phone_number': '925-924-9500', 'description': 'Server Management Software', 'created_at': datetime.datetime(2007, 5, 25, 19, 24, 22), 'updated_at': 'Wed Oct 31 18:26:09 UTC 2012', 'overview': '<p>AdventNet is now <a href="/company/zoho-manageengine" title="Zoho ManageEngine" rel="nofollow">Zoho ManageEngine</a>.</p>\n\n<p>Founded in 1996, AdventNet has served a diverse range of enterprise IT, networking and telecom customers.</p>\n\n<p>AdventNet supplies server and network management software.</p>', 'image': {'available_sizes': [[[150, 55], 'assets/images/resized/0001/9732/19732v1-max-150x150.png'], [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-250x250.png'], [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-450x450.png']]}, 'products': [], 'relationships': [{'is_past': True, 'title': 'CEO and Co-Founder', 'person': {'first_name': 'Sridhar', 'last_name': 'Vembu', 'permalink': 'sridhar-vembu'}}, {'is_past': True, 'title': 'VP of Business Dev', 'person': {'first_name': 'Neil', 'last_name': 'Butani', 'permalink': 'neil-butani'}}, {'is_past': True, 'title': 'Usabiliy Engineer', 'person': {'first_name': 'Bharath', 'last_name': 'Balasubramanian', 'permalink': 'bharath-balasibramanian'}}, {'is_past': True, 'title': 'Director of Engineering', 'person': {'first_name': 'Rajendran', 'last_name': 'Dandapani', 'permalink': 'rajendran-dandapani'}}, {'is_past': True, 'title': 'Market Analyst', 'person': {'first_name': 'Aravind', 'last_name': 'Natarajan', 'permalink': 'aravind-natarajan'}}, {'is_past': True, 'title': 'Director of Product Management', 'person': {'first_name': 'Hyther', 'last_name': 'Nizam', 'permalink': 'hyther-nizam'}}, {'is_past': True, 'title': 'Western Regional OEM Sales Manager', 'person': {'first_name': 'Ian', 'last_name': 'Wenig', 'permalink': 'ian-wenig'}}], 'competitions': [], 'providerships': [{'title': 'DHFH', 'is_past': True, 'provider': {'name': 'A Small Orange', 'permalink': 'a-small-orange'}}], 'total_money_raised': '$0', 'funding_rounds': [], 'investments': [], 'acquisition': None, 'acquisitions': [], 'offices': [{'description': 'Headquarters', 'address1': '4900 Hopyard Rd.', 'address2': 'Suite 310', 'zip_code': '94588', 'city': 'Pleasanton', 'state_code': 'CA', 'country_code': 'USA', 'latitude': 37.692934, 'longitude': -121.904945}], 'milestones': [], 'video_embeds': [], 'screenshots': [{'available_sizes': [[[150, 94], 'assets/images/resized/0004/3400/43400v1-max-150x150.png'], [[250, 156], 'assets/images/resized/0004/3400/43400v1-max-250x250.png'], [[450, 282], 'assets/images/resized/0004/3400/43400v1-max-450x450.png']], 'attribution': None}], 'external_links': [], 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [40]:
# Your Code
#What was written in mongodb:
#filter = { category_code: { $type: "null" }}

filter_query7 = {"category_code": { "$type": "null" }}

query7= list(db.companies.find(filter_query7).limit(1))
print(query7)

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'), 'name': 'Collective', 'permalink': 'collective', 'crunchbase_url': 'http://www.crunchbase.com/company/collective', 'homepage_url': None, 'blog_url': None, 'blog_feed_url': None, 'twitter_username': None, 'category_code': None, 'number_of_employees': None, 'founded_year': None, 'founded_month': None, 'founded_day': None, 'deadpooled_year': None, 'deadpooled_month': None, 'deadpooled_day': None, 'deadpooled_url': None, 'tag_list': None, 'alias_list': None, 'email_address': None, 'phone_number': None, 'description': None, 'created_at': 'Thu Sep 26 13:15:02 UTC 2013', 'updated_at': 'Thu Sep 26 13:15:02 UTC 2013', 'overview': None, 'image': None, 'products': [], 'relationships': [], 'competitions': [], 'providerships': [], 'total_money_raised': '$0', 'funding_rounds': [], 'investments': [], 'acquisition': None, 'acquisitions': [], 'offices': [], 'milestones': [], 'ipo': None, 'video_embeds': [], 'screenshots': [], 'external_links': [], 'partners': []}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [41]:
# Your Code

#What was written in mongodb:
#filter = {number_of_employees:{$gte:100, $lte:1000}}
#project = {name:1, number_of_employees:1}

filter_query8 = {"number_of_employees":{"$gte":100, "$lte":1000}}
project_query8 = {"name":1, "number_of_employees":1}

query8= list(db.companies.find(filter_query8, project_query8).limit(2))
print(query8)

[{'_id': ObjectId('52cdef7c4bab8bd675297d8b'), 'name': 'AdventNet', 'number_of_employees': 600}, {'_id': ObjectId('52cdef7c4bab8bd675297da8'), 'name': 'OpenX', 'number_of_employees': 305}]

### 9. Order all the companies by their IPO price in a descending order.

In [44]:
# Your Code
#What was written in mongodb:
#sort = {"ipo.valuation_amount": -1}

query9= list(db.companies.find().sort("ipo.valuation_amount", -1))
#print(query9)

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [49]:
# Your Code
#What was written in mongodb:
#filter = {number_of_employees: {$gt:0}}
#sort = {number_of_employees: -1}
#limit = 10

filter_query10 = {"number_of_employees":{"$gt":0}}

query10= list(db.companies.find(filter_query10).sort("number_of_employees", -1).limit(10))
#print(query10)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [51]:
# Your Code

#What was written in mongodb:
#filter = {founded_month: {$gte:7}}
#limit = 1000

filter_query11 = {"founded_month": {"$gte":7}}

query11= list(db.companies.find(filter_query11).limit(1000))
#print(query11)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [53]:
# Your Code

#What was written in mongodb:
#filter = {$and: [{founded_year: {$lt:2000}}, {"acquisition.price_amount": {$gt:1000000}} ] }

filter_query12 = {"$and": [{"founded_year": {"$lt":2000}}, {"acquisition.price_amount": {"$gt":1000000}} ] }

query12= list(db.companies.find(filter_query12))
#print(query12)

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [55]:
# Your Code

#What was written in mongodb:
#filter = {"acquisition.acquired_year": {$gt:2010}}
#project = {name:1, acquisition:1}
#sort = {"acquisition.price_amount": -1}

filter_query13 = {"acquisition.acquired_year": {"$gt":2010}}
project_query13 = {"name":1, "acquisition":1}

query13= list(db.companies.find(filter_query13, project_query13).sort("acquisition.price_amount", -1))
#print(query13)

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [57]:
# Your Code
#What was written in mongodb:
#filter = {founded_year: {$exists: "True"}}
#project = {name:1, founded_year:1}
#sort = {founded_year: -1}

filter_query14 = {"founded_year": {"$exists": "True"}}
project_query14 = {"name":1, "founded_year":1}

query14= list(db.companies.find(filter_query14, project_query14).sort("founded_year", -1))
#print(query14)

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [61]:
# Your Code

#What was written in mongodb:
#filter= {founded_day: {$gte:1, $lte: 7}}
#sort = {"acquisitions.price_amount": -1}
#limit= 10

filter_query15 = {"founded_day": {"$gte":1, "$lte": 7}}

query15= list(db.companies.find(filter_query15).sort("acquisitions.price_amount", -1))
#print(query15)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [63]:
# Your Code

#What was written in mongodb:
#filter = {$and:[ {category_code: "web"}, {number_of_employees: {$gt: 4000}} ] }
#sort = {"number_of_employees": 1}

filter_query16 = {"$and":[ {"category_code": "web"}, {"number_of_employees": {"$gt": 4000}} ] }

query16= list(db.companies.find(filter_query16).sort("number_of_employees", 1))
#print(query16)

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [65]:
# Your Code

#What was written in mongodb:
#filter = {$and:[ {"acquisition.price_amount": {$gt: 10000000}}, {"acquisition.price_currency_code" : "EUR"} ] }

filter_query17 = {"$and":[ {"acquisition.price_amount": {"$gt": 10000000}}, {"acquisition.price_currency_code" : "EUR"} ] }

query17= list(db.companies.find(filter_query17))
#print(query17)

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [67]:
# Your Code

#What was written in mongodb:
#filter = {"acquisition.acquired_month": {$lte: 3}}
#project = {name: 1, acquisition:1}
#limit = 10

filter_query18 = {"acquisition.acquired_month": {"$lte": 3}}
project_query18 = {"name": 1, "acquisition":1}

query18= list(db.companies.find(filter_query18, project_query18).limit(10))
#print(query18)

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [70]:
# Your Code

#What was written in mongodb:
#filter = {$and:[ {founded_year: {$gt: 2000, $lt: 2010}}, {"acquisition.acquired_year": {$gt: 2011}} ] }

filter_query19 = {"$and":[ {"founded_year": {"$gt": 2000, "$lt": 2010}}, {"acquisition.acquired_year": {"$gt": 2011}} ] }

query19= list(db.companies.find(filter_query19))
#print(query19)

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code

#What was written in mongodb:
{$substract: ["$deadpooled_year", "$founded_year", {$lte: 3}] }
No he sabido como resolverlo.