# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
db = client.get_database("companies")
e1 = list(db.companies.find({"name":"Babelgum"},{"name":1}))

In [3]:
print(e1)

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [25]:
e2 = list(db.companies.find({"number_of_employees":{"$gt":500}}
                         ).sort([("number_of_employees",1)]).limit(29))

#I only print the length of the query, to prevent a monstruous print
print(len(e2))
e2[0].keys()

29

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'deadpooled_month', 'deadpooled_day', 'deadpooled_url', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'ipo', 'video_embeds', 'screenshots', 'external_links', 'partners'])

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [5]:
e3 = list(db.companies.find({"founded_year":{"$gte":2000, "$lte":2005}},
                    {"name":1,"founded_year":1}))

#To check, I only print the first 3
print(e3[:3])

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'), 'name': 'Wetpaint', 'founded_year': 2005}, {'_id': ObjectId('52cdef7c4bab8bd675297d8c'), 'name': 'Zoho', 'founded_year': 2005}, {'_id': ObjectId('52cdef7c4bab8bd675297d8f'), 'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [37]:
filter_q = {"founded_year":{"$lt":2010},"ipo.valuation_amount":{"$gt":100000000} }
project_q = {"name":1,"ipo":1}
e4 = list(db.companies.find(filter_q,project_q ))

print(len(e4))

42

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [40]:
filter_q = {"founded_year":{"$lt":2005},"number_of_employees":{"$lt":1000} }
sort_q = [("number_of_employees",1)]
e5 = list(db.companies.find(filter_q).sort(sort_q).limit(10))
print(len(e5))

10

### 6. All the companies that don't include the `partners` field.

In [41]:
filter_q = {"partners":{"$ne":None} }
e6 = list(db.companies.find(filter_q))
print(len(e6))

18801

### 7. All the companies that have a null type of value on the `category_code` field.

In [9]:
# Your Code

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [10]:
# Your Code

### 9. Order all the companies by their IPO price in a descending order.

In [11]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [12]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [13]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [14]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [15]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [16]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [17]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [18]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [19]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [20]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [21]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [22]:
# Your Code